@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #111;
  color: #dfe;
}
.active{
  background-color: transparent;
  border-bottom: 3px rgb(234, 226, 213) solid;
}
